#SEARCH_DIV{
    height: 60px;
    width: 100%;
    display: table;
    background: #1affff;
    background: -webkit-linear-gradient(left, #1affff , white);
    background: -o-linear-gradient(right, #1affff, white);
    background: -moz-linear-gradient(right, #1affff, white);
    background: linear-gradient(to right, #1affff , white);
}

#HR_DIV {
    margin: 0px;
}

#SEARCH_FORM_DIV{
    margin-left: 15%;
    margin-right: 20%;
    margin-top: 12px;
}

#searchInput{
    height: 35px;
    font-size: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#SEARCH_BUTTON_DIV{
    height: 35px;
    font-size: 15px;
    background-color: #ffaa00;
    font-weight: 500;
}

#SEARCH_RESULTS_HEADER_DIV{
    height: 20px;
    width: 100%;
    display: table;
    background: whitesmoke;
}

#RESULTS_DIV{
    font-weight: 800;
    display: table;
    padding-top: 4px;
    padding-left: 15%;
    padding-bottom: 4px;
    padding-right: 15%;
}

#FILTER_DIV{
    display: table-cell;
    font-weight: 700;
}

.searchContainer{
    margin-top: 76px;
}