.reviewContainer{
    margin-top: 76px;
}

#TITLE{
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    font-size: 15px;
    height: 45px;
}

#PLACEORDER_BUTTON_DIV{
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid;
    background-color: #ffc579;
    font-weight: 900;
    float: right;
    margin-right: 10%;
}

.SHIPPINGPANEL{
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

.EDIT_BUTTON_DIV{
    float: right;
    border: 1px solid;
    background-color: #ffc579;
}

#IMG_DIV{
    width: 20%;
}