@media (max-width:767px) {

    /*for mobile*/

    .custom-navbar .navbar-right {
        float: right;
        padding-right: 15px;
    }
    .custom-navbar .nav.navbar-nav.navbar-right li {
        float: right;
    }
    .custom-navbar .nav.navbar-nav.navbar-right li > a {
        padding:8px 5px;
    }
    .custom-navbar .navbar-toggle {
        float: left
    }
    .custom-navbar .navbar-header {
        float: left;
        width: auto!important;
    }
    .custom-navbar .navbar-collapse {
        clear: both;
        float: none;
    }

    .custom-navbar .nav.navbar-nav.navbar-right .IMG_ICON_DIV{
        height: 35px;
    }

    .searchContainer{
        padding: 0px;
        margin: 0px;
        margin-top: 66px;
    }

    .searchContainer #SEARCH_DIV #SEARCH_FORM_DIV{
        margin-left: 7%;
        margin-right: 15%;
        margin-top: 12px;
    }
}
@media (min-width:767px) {

    /*for desktop*/

    .searchContainer{
        margin-top: 76px;
    }

}