#DIV_RIGHT {
    display: table-cell;
    width: 100%;
    font-size: 17px;
    vertical-align: top;
    padding-top: 10px;
}
#DIV_LEFT {
    display: table-cell;
    padding-left: 20px;
    padding-right: 20px;
}

#HR_DIV {
    width:2px;
}

#PRICE_DIV{
    color: #B72E2E;
}

#RESULT_COMPONENT_DIV{
    height: 250px;
    border-left: 0px;
    border-right: 0px;
}

#IMG_DIV{
    max-width: 170px;
    max-height: 230px;
}

#QUANTITY_DIV{
    display: table-cell;
    width: 65px;
    height: 33px;
    margin-right: 30px;
    border-width: 1px;
    border-color: black;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#DIBSBUTTON_DIV{
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid;
    background-color: #ffc579;
}

