#DIV_RIGHT {
    display: table-cell;
    width: 100%;
    font-size: 35px;
    vertical-align: top;
    padding-top: 35px;
}
#DIV_LEFT {
    display: table-cell;
    padding-left: 20px;
    padding-right: 20px;
}

#HR_DIV {
    width:2px;
}

#PRICE_DIV{
    color: #B72E2E;
}

#RESULT_COMPONENT_DIV{
    height: 420px;
    border-left: 0px;
    border-right: 0px;
}

#IMG_DIV{
    max-width: 253px;
    max-height: 400px;
}

#QUANTITY_DIV{
    display: table-cell;
    width: 95px;
    height: 60px;
    margin-right: 30px;
    border-width: 3px;
    border-color: black;
    font-size: 30px;
}

#DIBSBUTTON_DIV{
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display: table-cell;
    border:1px solid #d1dcdf; -webkit-border-radius: 12px; -moz-border-radius: 12px;border-radius: 12px;font-size:22px;font-family:verdana, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;font-weight:bold; color: #050100;
    background-color: #f2f5f6; background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f5f6), to(#c8d7dc));
    background-image: -webkit-linear-gradient(top, #f2f5f6, #c8d7dc);
    background-image: -moz-linear-gradient(top, #f2f5f6, #c8d7dc);
    background-image: -ms-linear-gradient(top, #f2f5f6, #c8d7dc);
    background-image: -o-linear-gradient(top, #f2f5f6, #c8d7dc);
    background-image: linear-gradient(to bottom, #f2f5f6, #c8d7dc);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f2f5f6, endColorstr=#c8d7dc);
}

#DIBSBUTTON_DIV:hover{
    border:1px solid #b6c7cc;
    background-color: #d4dee1; background-image: -webkit-gradient(linear, left top, left bottom, from(#d4dee1), to(#a9c0c8));
    background-image: -webkit-linear-gradient(top, #d4dee1, #a9c0c8);
    background-image: -moz-linear-gradient(top, #d4dee1, #a9c0c8);
    background-image: -ms-linear-gradient(top, #d4dee1, #a9c0c8);
    background-image: -o-linear-gradient(top, #d4dee1, #a9c0c8);
    background-image: linear-gradient(to bottom, #d4dee1, #a9c0c8);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#d4dee1, endColorstr=#a9c0c8);
}
