.cartItemContainer{
    margin-top: 76px;
}

/*Gallery Container*/
.image-gallery{
    width:70%;
    /*height: 400px;*/
    background-color: azure;
    padding-top: 10px;
    float: right;
}
/*Sets Big Image style*/
.image-gallery .big-image{
    /*height:400px;*/
    margin:0 auto;
    position:relative;
}
#default{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:80%;
    max-height:290px;
    transition: opacity 350ms;
    box-shadow:0 1px 20px 1px rgba(0,0,0,0.7);
    opacity:1;
}

.IMGICON{
    height: 40px;
    width: 45px;
}

.big-image ul{
    width: 214px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 15px;
}

.big-image ul li{
    display: inline-block;
}

.VIEWCARTROW{
    margin-top: 25px;
}

.CART_ITEM_TITLE{
    padding-top: 10px;
    padding-bottom: 10px;
}

.CART_ITEM_PRICE{
    padding-bottom: 10px;
    color: #B72E2E;
}

#QUANTITY_DIV{
    margin-bottom: 10px;
    width: 50px;
}

#ADDTOCART_BUTTON{
    border: 1px solid;
    background-color: #ffc579;
    color: black;
}