
#HEADER_DIV{
    background: #1affff;
    background: -webkit-linear-gradient(left, #1affff , white);
    background: -o-linear-gradient(right, #1affff, white);
    background: -moz-linear-gradient(right, #1affff, white);
    background: linear-gradient(to right, #1affff , white);
}

#DIBS_DIV{
    color: black;
    font-family: fantasy;
    font-size: 30px;
    padding-top: 22px;
}

.IMG_ICON_DIV{
    height: 45px;
}

.navbar {
    margin-bottom: 0px;
}

.custom-navbar .fa {font-size:25px}

.navbar-inverse .navbar-toggle .icon-bar  {
    background-color: black;
}